<div class="second-panel">
    	<div class="second-panel-header">
    		<div>
				<p align="right"><a class="close-panel" href="#_">X</a></p>
				<h3>CREDIT CARD SUMMARY</h3>
				<div id="progressBar">
				  <div id="bar"></div>
				</div>
			</div>
			<div class="summary">
				<div class="summary-image">
				</div>
				<div class="summary-text">
					<p>Mininum payment due on 01/01/2013:</p>
				</div>
				<div class="summary-amount">
					<p>$000.000</p>
				</div>
			</div>
			<div class="summary">
				<div class="summary-image">
				</div>
				<div class="summary-text">
					<p>Total current balance:</p>
				</div>
				<div class="summary-amount">
					<p>$000.000</p>
				</div>
			</div>
			<div class="summary">
				<div class="summary-image">
				</div>
				<div class="summary-text">
					<p>Total available credit:</p>
				</div>
				<div class="summary-amount">
					<p>$000.000</p>
				</div>
			</div>
    	</div>
    	<div class="accounts">
    		<div class="individual-accounts">
    			<div class="account-image">
  				</div>
    			<div class="account-info">
    				<h4 class="account-name"><strong>CampusEdge Credit</strong></h4>
    				<h4 class="account-amount">$2,854.27</h4>
    				<p class="account-update"><small>Updated 5 minutes ago</small></p>
    			</div>
    			<div id="accountProgressBar">
    				 <div id="accountBar"></div>
    			</div>
    		</div>
    		<div class="individual-accounts">
    			<div class="account-image">
  				</div>
    			<div class="account-info">
    				<h4 class="account-name"><strong>CampusEdge Credit</strong></h4>
    				<h4 class="account-amount">$2,854.27</h4>
    				<p class="account-update"><small>Updated 5 minutes ago</small></p>
    			</div>
    			<div id="accountProgressBar">
    				 <div id="accountBar"></div>
    			</div>
    		</div>
    		<div class="individual-accounts">
    			<div class="account-image">
  				</div>
    			<div class="account-info">
    				<h4 class="account-name"><strong>CampusEdge Credit</strong></h4>
    				<h4 class="account-amount">$2,854.27</h4>
    				<p class="account-update"><small>Updated 5 minutes ago</small></p>
    			</div>
    			<div id="accountProgressBar">
    				 <div id="accountBar"></div>
    			</div>
    		</div>
    		<div class="individual-accounts">
    			<div class="account-image">
  				</div>
    			<div class="account-info">
    				<h4 class="account-name"><strong>CampusEdge Credit</strong></h4>
    				<h4 class="account-amount">$2,854.27</h4>
    				<p class="account-update"><small>Updated 5 minutes ago</small></p>
    			</div>
    			<div id="accountProgressBar">
    				 <div id="accountBar"></div>
    			</div>
    		</div>
    		<div class="individual-accounts">
    			<div class="account-image">
  				</div>
    			<div class="account-info">
    				<h4 class="account-name"><strong>CampusEdge Credit</strong></h4>
    				<h4 class="account-amount">$2,854.27</h4>
    				<p class="account-update"><small>Updated 5 minutes ago</small></p>
    			</div>
    			<div id="accountProgressBar">
    				 <div id="accountBar"></div>
    			</div>
    		</div>
    	</div>
    </div>