<div class="third-panel">
    	<div class="transaction-detail-header">
    		<p align="right"><a class="close-panel" href="#_">X</a></p>
    	</div>
    	<div class="transaction-detail-subheader">
    		<div class="subheader-space"></div>
    		<div class="subheader-amount">
    			<h4><strong>Amount</strong></h4>
    		</div>
    		<div class="subheader-balance">
    			<h4><strong>Balance</strong></h4>
    		</div>
    	</div>
    	<div class="transaction-list">
    		<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
	    	<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
	    	<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
	    	<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
	    	<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
	    	<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
	    	<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
	    	<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
	    	<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
    	</div>
    </div>