<div class="third-panel">

	<!-- HEADER -->
	<div class="transaction-detail-header">
		<p><a class="close-panel" id="closePanel" href="#_"><small><strong>GO BACK</strong></small></a></p>
	</div>

	<!-- SUBHEADER -->
	<div class="transaction-detail-subheader">
		<div class="subheader-space"></div>
		<div class="subheader-amount">
			<h4><strong>Amount</strong></h4>
		</div>
		<div class="subheader-balance">
			<h4><strong>Balance</strong></h4>
		</div>
	</div>

	<!-- TRANSACTION LIST -->
	<div class="transaction-list">

		<div class="transaction-individual">
    		<div class="transaction-info-image"></div>
    		<div class="transaction-info-text">
    			<h4>This is an expense</h4>
    			<h4><small>01/01/2015</small></h4>
    		</div>
    		<div class="transaction-info-amount">
    			<h4>$18.67</h4>
    		</div>
    		<div class="transaction-info-balance">
    			<h4>$6,000.000</h4>
    		</div>
    	</div>

    	<div class="transaction-individual">
    		<div class="transaction-info-image"></div>
    		<div class="transaction-info-text">
    			<h4>This is an expense</h4>
    			<h4><small>01/01/2015</small></h4>
    		</div>
    		<div class="transaction-info-amount">
    			<h4>$18.67</h4>
    		</div>
    		<div class="transaction-info-balance">
    			<h4>$6,000.000</h4>
    		</div>
    	</div>

    	<div class="transaction-individual">
    		<div class="transaction-info-image"></div>
    		<div class="transaction-info-text">
    			<h4>This is an expense</h4>
    			<h4><small>01/01/2015</small></h4>
    		</div>
    		<div class="transaction-info-amount">
    			<h4>$18.67</h4>
    		</div>
    		<div class="transaction-info-balance">
    			<h4>$6,000.000</h4>
    		</div>
    	</div>

    	<div class="transaction-individual">
    		<div class="transaction-info-image"></div>
    		<div class="transaction-info-text">
    			<h4>This is an expense</h4>
    			<h4><small>01/01/2015</small></h4>
    		</div>
    		<div class="transaction-info-amount">
    			<h4>$18.67</h4>
    		</div>
    		<div class="transaction-info-balance">
    			<h4>$6,000.000</h4>
    		</div>
    	</div>

    	<div class="transaction-individual">
    		<div class="transaction-info-image"></div>
    		<div class="transaction-info-text">
    			<h4>This is an expense</h4>
    			<h4><small>01/01/2015</small></h4>
    		</div>
    		<div class="transaction-info-amount">
    			<h4>$18.67</h4>
    		</div>
    		<div class="transaction-info-balance">
    			<h4>$6,000.000</h4>
    		</div>
    	</div>

    	<div class="transaction-individual">
    		<div class="transaction-info-image"></div>
    		<div class="transaction-info-text">
    			<h4>This is an expense</h4>
    			<h4><small>01/01/2015</small></h4>
    		</div>
    		<div class="transaction-info-amount">
    			<h4>$18.67</h4>
    		</div>
    		<div class="transaction-info-balance">
    			<h4>$6,000.000</h4>
    		</div>
    	</div>

    	<div class="transaction-individual">
    		<div class="transaction-info-image"></div>
    		<div class="transaction-info-text">
    			<h4>This is an expense</h4>
    			<h4><small>01/01/2015</small></h4>
    		</div>
    		<div class="transaction-info-amount">
    			<h4>$18.67</h4>
    		</div>
    		<div class="transaction-info-balance">
    			<h4>$6,000.000</h4>
    		</div>
    	</div>

    	<div class="transaction-individual">
    		<div class="transaction-info-image"></div>
    		<div class="transaction-info-text">
    			<h4>This is an expense</h4>
    			<h4><small>01/01/2015</small></h4>
    		</div>
    		<div class="transaction-info-amount">
    			<h4>$18.67</h4>
    		</div>
    		<div class="transaction-info-balance">
    			<h4>$6,000.000</h4>
    		</div>
    	</div>

    	<div class="transaction-individual">
    		<div class="transaction-info-image"></div>
    		<div class="transaction-info-text">
    			<h4>This is an expense</h4>
    			<h4><small>01/01/2015</small></h4>
    		</div>
    		<div class="transaction-info-amount">
    			<h4>$18.67</h4>
    		</div>
    		<div class="transaction-info-balance">
    			<h4>$6,000.000</h4>
    		</div>
    	</div>
    	<!-- END TRANSACTION LIST -->

	</div>
</div>