body {
	background-color: #d7d7d7;
}
.entry-content {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 5%;
    width: 100%;
    position: relative;
    background-color: #d7d7d7;
    height: 80vh;
    max-height: 90vh;
}

/* ----- First Panel -----*/
.first-panel {
    width : 70%;
    background: #ffffff;
    margin: auto;
    overflow: auto;
    height: 100%;
    color: #66667C;
    box-shadow:  0 0 10px rgba(0,0,0,0.6);
    border: 10px solid #ffffff;
}
.first {
	border-bottom: 1px solid #d7d7d7;
	padding: 20px;
	overflow: hidden;

}
.first-panel-image {
	background: url("img/photo.gif");
	height: 60px;
	width: 60px;
	background-size: cover;
	float: left;
	margin-right: 5%;
}

#creditProgressBar {
  width: 50%;
  height: 30px;
  position: relative;
  background-color: #ffffff;
  float: left;
  align-self: center;
  margin-left: 2%;
  border-radius: 9px;
  border: solid 2px lightgrey;
}

#creditBar {
  background-color: #E6E6E6;
  width: 30px;
  height: 30px;
  position: absolute;
  float: left;
  border-radius: 9px;
}


/* ----- Second Panel -----*/
.second-panel {
    float: left;
    width: 65%;
    background: #f2f2f2;
    overflow: scroll;
    height: 100%;
    max-height: 100%;
    border: 2px solid #868686;
    box-shadow:  0 0 10px rgba(0,0,0,0.6);
    position: absolute; right: -120%; top: 0; z-index: 50;
}
.second-panel-header {
	background-color: #868686;
	color: white;
	width: 100%;
	padding: 1% 10% 5% 5%;
	height: 40%;
}

#progressBar {
  width: 90%;
  height: 30px;
  position: relative;
  background-color: #ffffff;
  border-radius: 9px;
  margin-bottom: 3%;
}

#bar {
  background-color: #E6E6E6;
  width: 10px;
  height: 30px;
  position: absolute;
  border-radius: 9px;
}

.summary {
	display: flex;
}
.summary-image {
	background: url("img/whiteSquare.png");
	height: 10px;
	width: 10px;
	float: left;
	margin-right: 1%;

}
.summary-text{

}
.summary-amount {

	flex-grow: 1;
	text-align: right;
}
.accounts {
	padding: 0 5% 0 5%;
	height: 60%;
}
.individual-accounts {
	display: flex;
	align-items: center;
	color: #9397A5;
	border-bottom: 1px solid #9397A5;
	padding: 5% 0 5% 0;

}
.account-image {
	background: url("img/photo.gif");
	height: 30px;
	width: 30px;
	background-size: cover;
	align-self: flex-start;
}

#accountProgressBar {
  width: 50%;
  height: 25px;
  position: relative;
  background-color: #ffffff;
  border-radius: 9px;
}

#accountBar {
  background-color: #E6E6E6;
  width: 10px;
  height: 25px;
  position: absolute;
  border-radius: 9px;
}


/* ----- Third Panel -----*/
.third-panel {
    float: left;
    width: 60%;
    background: #ffffff;
    overflow: auto;
    height: 100%;
    max-height: 100%;
    border: solid 1px #868686;
    box-shadow:  0 0 10px rgba(0,0,0,0.6);
    position: absolute; right: -120%; top: 0; z-index: 100;
}

.transaction-detail-header {
	background-color: #c9c9c9;
	height: 50px;
	width: 100%
}

.transaction-detail-subheader {
	background-color: #e4e4e4;
	height: 30px;
	width: 100%;
	display: flex;
	padding: 0 5 0 5;
}
.subheader-space {
	flex-grow: 5;
}
.subheader-amount {
	flex-grow: 2;
	text-align: center;
}
.subheader-balance {
	flex-grow: 2;
}

.transaction-list {
	padding: 5%;
}

.transaction-individual {
	display: flex;
	border-bottom: 1px solid #868686;
	padding: 2% 0 2% 0;
}

.transaction-info-image {
	background: url("img/photo.gif");
	height: 50px;
	width: 50px;
	background-size: cover;
	align-self:	center;
}
.transaction-info-text {
	flex-grow: 4;
	padding-left: 2%;
}
.transaction-info-amount, .transaction-info-balance {
	flex-grow: 2;
}


.flex {
	display: flex;
}
/*<!-- CSS media query within a stylesheet -->*/

@media (max-width: 767px) {
  .entry-content, .first-panel  {
    width: 100% ;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .second-panel, .third-panel {
  	width: 100%;
  	margin-left: auto;
    margin-right: auto;

  }


}