<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="container-fluid entry-content">
    
    <!-- FIRST PANEL -->
    <div class="row-fluid first-panel" id="firstPanel">
        <div class="container-fluid first">
        	<div class="first-panel-image">
        	</div>
        	<div class="category">
        		<p>CASH</p>
        		<h2>$1,200.00</h2>
        	</div>
        </div>
        <div class="first flex">
        	<div class="first-panel-image">
        	</div>
        	<div class="category">
        		<p>CREDIT CARDS</p>
        		<h2>$1,200.00</h2>
        	</div>
        	<div id="creditProgressBar">
    			<div id="creditBar"></div>
    		</div>
        </div>
        <div class="first">
        	<div class="first-panel-image">
        	</div>
        	<div class="category">
        		<p>BILLS</p>
        		<h2>$1,200.00</h2>
        	</div>
        </div>
        <div class="first">
        	<div class="first-panel-image">
        	</div>
        	<div class="category">
        		<p>INVESTMENTS</p>
        		<h2>$1,200.00</h2>
        	</div>
        </div>
        <div class="first">
        	<div class="first-panel-image">
        	</div>
        	<div class="category">
        		<p>HOME EQUITY</p>
        		<h2>$1,200.00</h2>
        	</div>
        </div>
        <div class="first">
        	<div class="first-panel-image">
        	</div>
        	<div class="category">
        		<p>LOANS</p>
        		<h2>$1,200.00</h2>
        	</div>
        </div>
    </div>
    <!-- END FIRST PANEL -->

    <!-- SECOND PANEL -->
    <div class="second-panel">
    	<div class="second-panel-header">
    		<div>
				<p align="right"><a class="close-panel" href="#_">X</a></p>
				<h3>CREDIT CARD SUMMARY</h3>
				<div id="progressBar">
				  <div id="bar"></div>
				</div>
			</div>
			<div class="summary">
				<div class="summary-image">
				</div>
				<div class="summary-text">
					<p>Mininum payment due on 01/01/2013:</p>
				</div>
				<div class="summary-amount">
					<p>$000.000</p>
				</div>
			</div>
			<div class="summary">
				<div class="summary-image">
				</div>
				<div class="summary-text">
					<p>Total current balance:</p>
				</div>
				<div class="summary-amount">
					<p>$000.000</p>
				</div>
			</div>
			<div class="summary">
				<div class="summary-image">
				</div>
				<div class="summary-text">
					<p>Total available credit:</p>
				</div>
				<div class="summary-amount">
					<p>$000.000</p>
				</div>
			</div>
    	</div>
    	<div class="accounts">
    		<div class="individual-accounts">
    			<div class="account-image">
  				</div>
    			<div class="account-info">
    				<h4 class="account-name"><strong>CampusEdge Credit</strong></h4>
    				<h4 class="account-amount">$2,854.27</h4>
    				<p class="account-update"><small>Updated 5 minutes ago</small></p>
    			</div>
    			<div id="accountProgressBar">
    				 <div id="accountBar"></div>
    			</div>
    		</div>
    		<div class="individual-accounts">
    			<div class="account-image">
  				</div>
    			<div class="account-info">
    				<h4 class="account-name"><strong>CampusEdge Credit</strong></h4>
    				<h4 class="account-amount">$2,854.27</h4>
    				<p class="account-update"><small>Updated 5 minutes ago</small></p>
    			</div>
    			<div id="accountProgressBar">
    				 <div id="accountBar"></div>
    			</div>
    		</div>
    		<div class="individual-accounts">
    			<div class="account-image">
  				</div>
    			<div class="account-info">
    				<h4 class="account-name"><strong>CampusEdge Credit</strong></h4>
    				<h4 class="account-amount">$2,854.27</h4>
    				<p class="account-update"><small>Updated 5 minutes ago</small></p>
    			</div>
    			<div id="accountProgressBar">
    				 <div id="accountBar"></div>
    			</div>
    		</div>
    		<div class="individual-accounts">
    			<div class="account-image">
  				</div>
    			<div class="account-info">
    				<h4 class="account-name"><strong>CampusEdge Credit</strong></h4>
    				<h4 class="account-amount">$2,854.27</h4>
    				<p class="account-update"><small>Updated 5 minutes ago</small></p>
    			</div>
    			<div id="accountProgressBar">
    				 <div id="accountBar"></div>
    			</div>
    		</div>
    		<div class="individual-accounts">
    			<div class="account-image">
  				</div>
    			<div class="account-info">
    				<h4 class="account-name"><strong>CampusEdge Credit</strong></h4>
    				<h4 class="account-amount">$2,854.27</h4>
    				<p class="account-update"><small>Updated 5 minutes ago</small></p>
    			</div>
    			<div id="accountProgressBar">
    				 <div id="accountBar"></div>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- END SECOND PANEL -->

    <!-- THIRD PANEL -->
    <div class="third-panel">
    	<div class="transaction-detail-header">
    		<p align="right"><a class="close-panel" href="#_">X</a></p>
    	</div>
    	<div class="transaction-detail-subheader">
    		<div class="subheader-space"></div>
    		<div class="subheader-amount">
    			<h4><strong>Amount</strong></h4>
    		</div>
    		<div class="subheader-balance">
    			<h4><strong>Balance</strong></h4>
    		</div>
    	</div>
    	<div class="transaction-list">
    		<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
	    	<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
	    	<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
	    	<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
	    	<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
	    	<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
	    	<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
	    	<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
	    	<div class="transaction-individual">
	    		<div class="transaction-info-image"></div>
	    		<div class="transaction-info-text">
	    			<h4>This is an expense</h4>
	    			<h4><small>01/01/2015</small></h4>
	    		</div>
	    		<div class="transaction-info-amount">
	    			<h4>$18.67</h4>
	    		</div>
	    		<div class="transaction-info-balance">
	    			<h4>$6,000.000</h4>
	    		</div>
	    	</div>
    	</div>
    </div>
    <!-- END THIRD PANEL -->
</div>
</body>
</html>