<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="container-fluid entry-content">
    
    <!-- FIRST PANEL -->
    <div class="row-fluid first-panel" id="firstPanel">
        <div class="container-fluid first">
        	<div class="first-panel-image">
        	</div>
        	<div class="category">
        		<p>CASH</p>
        		<h2>$1,200.00</h2>
        	</div>
        </div>
        <div class="first flex">
        	<div class="first-panel-image">
        	</div>
        	<div class="category">
        		<p>CREDIT CARDS</p>
        		<h2>$1,200.00</h2>
        	</div>
        	<div id="creditProgressBar">
    			<div id="creditBar"></div>
    		</div>
        </div>
        <div class="first">
        	<div class="first-panel-image">
        	</div>
        	<div class="category">
        		<p>BILLS</p>
        		<h2>$1,200.00</h2>
        	</div>
        </div>
        <div class="first">
        	<div class="first-panel-image">
        	</div>
        	<div class="category">
        		<p>INVESTMENTS</p>
        		<h2>$1,200.00</h2>
        	</div>
        </div>
        <div class="first">
        	<div class="first-panel-image">
        	</div>
        	<div class="category">
        		<p>HOME EQUITY</p>
        		<h2>$1,200.00</h2>
        	</div>
        </div>
        <div class="first">
        	<div class="first-panel-image">
        	</div>
        	<div class="category">
        		<p>LOANS</p>
        		<h2>$1,200.00</h2>
        	</div>
        </div>
    </div>
    <!-- END FIRST PANEL -->

    <!-- SECOND PANEL -->
    <% include ../partials/second-panel %>

    <!-- THIRD PANEL -->
    <% include ../partials/third-panel %>

</div>
</body>
</html>