<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="entry-content">
    <div class="first-panel">
        <div class="first">
        	<div class="image">
        	</div>
        	<div class="account">
        		<p>CASH</p>
        		<h2>$1,200.00</h2>
        	</div>
        </div>
        <div class="first">
        	<div class="image">
        	</div>
        	<div class="account">
        		<p>CASH</p>
        		<h2>$1,200.00</h2>
        	</div>
        </div>
        <div class="first">
        	<div class="image">
        	</div>
        	<div class="account">
        		<p>CASH</p>
        		<h2>$1,200.00</h2>
        	</div>
        </div>
        <div class="first">
        	<div class="image">
        	</div>
        	<div class="account">
        		<p>CASH</p>
        		<h2>$1,200.00</h2>
        	</div>
        </div>
    </div>

    <div class="second-panel">
    	<p align="right"><a class="close-panel" href="#_">X</a></p>
        <div class="second">second</div>
        <div class="second">second</div>
        <div class="second">second</div>
        <div class="second">second</div>
    </div>
    <div class="third-panel">
    	<p align="right"><a class="close-panel" href="#_">X</a></p>
        <div class="third">third</div>
        <div class="third">third</div>
        <div class="third">third</div>
        <div class="third">third</div>
    </div>
</div>
</body>
</html>